<html>
<body>
<div class="nav">
    <a href = "/">Main Page</a>
    <a href = "/groups">My Groups</a>
    <a href = "/newtask">New Tasks</a>
</div>
<form method="post" >
    <input type="text", name="user" readonly="readonly" value="{{user}}"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <select name="newRole">
        {{#roles}}
            <option value="{{id}}">{{name}}</option>
        {{/roles}}
    </select><br>
    <input type="submit" value="Save changes"/>
</form>
</body>
</html>