<html>
    <head>
        <meta charset="utf-8">
    </head>
    <div class="nav">
        <a href = "/">Main Page</a>
        <a href = "/groups">My Groups</a>
        <a href = "/newtask">New Tasks</a>
    </div>
    <body>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Sign Out"/>
        </form>
        {{#tasks}}
            <form method="get" action="/grouptaskdetails">
            {{title}}<br/>
                <input type="text" name="mentor" value="{{mentor.email}}" readonly="readonly"/><br/>
            {{level.name}}<br/>
            {{date}}<br/>
            {{finishDate}}<br/>
                <input type="hidden" name="task" value="{{id}}"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <input type="submit" value="Details" name="btnName"/>
            </form>
        {{/tasks}}
    </body>
</html>