<html>
<body>
<div class="nav" >
    <a href = "/">Main Page</a>
    <a href = "/groups">My Groups</a>
    <a href = "/newtask">New Tasks</a>
</div>
<div style="width: 50%">
    <figure>
        <figcaption>A graph that shows the number of fruit collected</figcaption>
        {{#data}}
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="chart" width="420" height="20" aria-labelledby="title" role="img">
            <title id="title">Статистика заданий по группе</title>

                <g class="bar">
                    <rect width="{{getKey}}%" height="19"></rect>
                </g>

        </svg><label>{{getKey}}% {{getValue}}</label>
        {{/data}}
    </figure>
</div>
<div>
    {{#currentGroupName}}
        <h3>{{currentGroupName}}</h3><br>
    {{/currentGroupName}}
    {{#users}}
        <strong>{{role.name}}   {{raiting}}</strong><br>
        <form method="post">
            <input type="text" name="userName", value="{{user.email}}" readonly="readonly"/>

            {{#admin}}
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <input type="submit" value="Delete User" /><br>
                <input type="submit" formmethod="get" formaction="/changegroupmember" value="Change"/>
                <input type="submit" formaction="/givetask" formmethod="get" value="Give Task"/><br>
            {{/admin}}
        </form>
    {{/users}}
    {{#admin}}
    <a href="/addgroupuser">Add new user</a>
    {{/admin}}
</div>
</body>
</html>