<html>
<body>
<div>
    <div class="nav">
        <a href = "/">Main Page</a>
        <a href = "/groups">My Groups</a>
        <a href = "/newtask">New Tasks</a>
    </div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="date" name="date"/><br>
        <input type="time" name="timeStart"/><br>
        <input type="time" name="timeFinish"/><br>
        <input type="text" name="name" placeholder="Введите название"/><br>
        <input type="text" name="description" placeholder="Введите описание"/><br>
        <select name="taskState">
            {{#states}}
            <option value="{{id}}">{{name}}</option>
            {{/states}}
        </select>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Добавить</button>
    </form>
</div>

<div>
    <div>Список заданий</div>
    {{#tasks}}
    <br>
        <br>{{id}}
        <br>{{title}}
        <br>{{description}}
        <br>{{date}}
        <br>{{time}}
        <br>{{duration}}
        <br>{{#taskStatus}}
                {{name}}
            {{/taskStatus}}
        {{#user}}
        <br><strong>{{getUsername}}</strong>
        {{/user}}
    </div>
    {{/tasks}}
</body>
</html>