<html>
<head>
</head>
<body>
<div>
    <div class="nav">
        <a href = "/">Main Page</a>
        <a href = "/groups">My Groups</a>
        <a href = "/newtask">New Tasks</a>
    </div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="date" name="date"/><br>
        <input type="time" name="timeStart"/><br>
        <input type="time" name="timeFinish"/><br>
        <input type="text" name="name" placeholder="Введите название"/><br>
        <input type="text" name="description" placeholder="Введите описание"/><br>
        <select name="taskState">
            {{#states}}
            <option value="{{id}}">{{name}}</option>
            {{/states}}
        </select>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Добавить</button>
    </form>
</div>

<div>
    <div>Список заданий</div>
    <table style="width: 50%; alignment: left; border: 1px solid black; border-collapse: collapse; float: left">
        <tr>
            <th colspan="2">Личные задания</th>
        </tr>
        {{#tasks}}
            <tr>
                <td>Task Title</td>
                <td>{{title}}</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{description}}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{date}}</td>
            </tr>
            <tr>
                <td>Time start</td>
                <td>{{time}}</td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>{{duration}}</td>
            </tr>
            <tr>
                <td>State</td>
                <td>{{#taskStatus}}
                        {{name}}
                    {{/taskStatus}}</td>
            </tr>
            <tr><td colspan="2">
                <form action="/mytaskdetails" method="get">
                    <input type="hidden" name="task" value="{{id}}"/>
                    <input type="submit" value="Details"/>
                </form>
            </td></tr>
        {{/tasks}}
    </table>
    <table style="width: 50%; alignment: left; border: 1px solid black; border-collapse: collapse">
        <tr>
            <th colspan="2">Групповые задания</th>
        </tr>
        {{#groupTasks}}
            <tr>
                <td>Task Title</td>
                <td>{{title}}</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{description}}</td>
            </tr>
            <tr>
                <td>Date start</td>
                <td>{{date}}</td>
            </tr>
            <tr>
                <td>Date finish</td>
                <td>{{finishDate}}</td>
            </tr>
            <tr>
                <td>State</td>
                <td>{{#taskStatus}}
                    {{name}}
                {{/taskStatus}}</td>
            </tr>
            <tr>
                <td> Mentor</td>
                <td>{{mentor.email}}</td>
            </tr>
            <tr>
                <td>Level</td>
                <td>{{level.name}}</td>
            </tr>
            <tr>
                <td colspan="2">
                <form action="/mygrouptaskdetails" method="get">
                    <input type="hidden" name="task" value="{{id}}"/>
                    <input type="submit" value="Details"/>
                </form>
                </td>
            </tr>
        {{/groupTasks}}
    </table>
</div>
</body>
</html>